*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(236, 234, 234);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: rgb(122, 155, 131);
}

.logo{
    color: rgb(218, 214, 214);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    text-decoration: none

}

.logo a{
    text-decoration: none;
    color: rgb(218, 214, 214);
}

.nav-links{
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    color: rgb(218, 214, 214);
}

.nav-links li {
    list-style-type: none;
}

.category{

    margin: 100px;
    justify-content: center;
}

#chocolates-container {
    margin-top: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(450px, auto);
  }

#chocolates-container button{
    
    
    transition-duration: 0.4s;
    font-weight: 100px;
    font-size: large;
    font-family: Arial, Helvetica,sans-serif;

      
      
    
    border: 2px solid #1113112f;

  }

  #chocolates-container button:hover{
        background-color: #d4d4d4; 
        color: white;
    

  }


.chocolate-card{
    height: 150px; 
    width:  auto;
    margin: 60px;
  }



.back-card{
    height: 150px; 
    width:  auto;
    margin: 60px;
  }

img {
      height: 250px;
      width: 150px;
      border-radius: 5px 5px 0 0;
      transition: transform .2s
  }

img:hover{
    transform: scale(1.15)
}

p  {
      font-weight: bold;
      margin-top: 10px;
  }

input[type=text] {
    margin: 10px;
  } 

form {
    box-sizing: border-box;
    margin: 5px;
}

.container{
    overflow: auto;
    word-wrap: break-word;
}